.gantt-bar:hover circle {
  display: block!important;
}
.gantt-ctrl-start:hover, .gantt-ctrl-finish:hover {
  fill: #ffbf5e!important;
  stroke: #ffa011!important;
}
.gantt-label {
  cursor: pointer;
}
.gantt-label:hover {
  fill: #1582dc!important;
}